# Castora
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
dist/
*.egg-info/
.env
.coverage
logs/
*.log
.idea/
.vscode/
.DS_Store
*.db
databases/
podcasts/
demo_content.zip
directory_tree.txt

# web
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

dist/
out/
.next/
.nuxt/

.env
.env.local
.env.*
!.env.example

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
*.swp
*.swo

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage/
.nyc_output/

.tmp/
.temp/

.cache/
.parcel-cache/

*.com
*.class
*.dll
*.exe
*.o
*.so

debug/
browsers/
playwright_persistent_profile/
databases_bckp/
directory_tree.txt
